<%= render "shared/content_title", title: "#{brewery_plus_beer_name(@beer)}" %> 
<div class="row">
  <div class="well span8">
    <dl class="dl-horizontal">
      <dt>Style:</dt>
      <dd><%= @beer.style.name %></dd>
      <dt>Brewery:</dt>
      <dd><%= @beer.brewery.name %></dd>
      <dt>Average Rating:</dt>
      <dd><%= @beer.average_rating %></dd>
    </dl>  
  </div>  
</div>

<h5>Reviews</h5>

<% if @reviews.count > 0 %>
  <% @reviews.each do |review| %>
    <%= render "reviews/reviews", review: review %>
  <% end %> 
  <div class="row">
    <div class="span8 paginator">
      <%= paginate @reviews %>
    </div>
  </div>    
<% else %>
  <%= render "reviews/no_reviews" %>
<% end %> 

<td><%= link_to "add a review", new_beer_review_path(@beer), class: "btn btn-success"%></td>